input[type=radio].rating{
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.header-content, .product-title, .info, .product-evaluation, button {
  margin-right: 30px;
  margin-left: 30px;
}

header {
  background-color: #fff159;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.product-title .shipping {
  display: flex;
  align-items: center;
  margin-left: 50px
}

.product-title .shipping span{
  width: 50px;
  margin-left: 10px;
}

.product-title {
  display: flex;
  justify-content: flex-start;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info div {
  border: solid black;
  width: 70%;
}

.info img {
  width: 25%;
  border: solid black;
}

.evaluation {
  display: block;
  border: solid black;
}